[submodule "Coursera/coursera-deep-learning-specialization"]
	path = Coursera/coursera-deep-learning-specialization
	url = https://github.com/elhamng/Courses/tree/master/Coursera/coursera-deep-learning-specialization
